<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head id="ctl00_ctl00_ctl00_Head1">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>
    Đại lý mua bán thẻ cào Gate: Thẻ Game Online, Thẻ Mobile, Thẻ Gate
  </title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin,vietnamese" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="Skin/css/bootstrap.min.css" />
  <link rel="stylesheet" href="Skin/css/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="Skin/css/bootstrap-dialog.min.css" />
  <link rel="stylesheet" href="Skin/css/style.css" />
  <script src="Skin/js/jquery.min.js"></script>
  <style type='text/css'>
  /* Paste this css to your style sheet file or under head tag */
  /* This only works with JavaScript, 
        if it's not present, don't show loader */

  .no-js #loader {
    display: none;
  }

  .js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
  }

  .se-pre-con {
    position: fixed;
    opacity: 0.6;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(Skin/images/loader-64x/Preloader_3.gif) center no-repeat #fff;
  }

  #my-dialog-1 .modal-dialog {
    max-width: 450px;
  }

  </style>
</head>

<body >
    
          <!-- end SideBarLeft -->
          <div class="BlockContent col-md-9">
            <h3><span> Thông tin tài khoản</span></h3>
            <div class="clearfix"></div>
              <table class="table TblNoBorder">
                <tr>
                  <td class="text-right">Số điện thoại</td>
                  <td> <span id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_lblPhone" class="ColorDo">0965288463</span></td>
                </tr>
                <tr>
                  <td class="text-right">Email</td>
                  <td><b><span id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_lblEmail">nvkhoa1871997@gmail.com</span></b></td>
                </tr>
                <tr>
                  <td class="text-right">Ngày mở tài khoản</td>
                  <td><b><span id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_lblOpen">22-09-2018</span></b></td>
                </tr>
                <tr>
                  <td class="text-right">Key phân phối</td>
                  <td><b><span id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_lbkey">784423</span></b></td>
                </tr>
                <tr>
                  <td class="text-right">IP phân phối</td>
                  <td>
                    <textarea name="ctl00$ctl00$ctl00$ContentPlaceHolder1$contentMain$contentMain$txtIP" rows="2" cols="20" id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_txtIP" class="form-control" style="height:90px;width:200px;"></textarea>
                  </td>
                </tr>
                <tr>
                  <td class="text-right"></td>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td class="text-right">Tình trạng tài khoản</td>
                  <td class="text-success"><b><span id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_lblStatus">Active</span></b></td>
                </tr>
              </table>
            </div>
            <!-- end BgTblUserInfo -->
            <div class="clearfix">
              <p class="ColorDo">Thông tin cá nhân</p>
            </div>
            <div class="InfoCurrent" id="account">
              <div class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-sm-3 col-sm-offset-1">
                    Họ và tên (<span class="ColorDo">*</span>)
                  </label>
                  <div class="col-sm-7">
                    <input name="ctl00$ctl00$ctl00$ContentPlaceHolder1$contentMain$contentMain$txtFullName" type="text" value="Nguyễn Văn Khoa" id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_txtFullName" tabindex="103" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3 col-sm-offset-1">
                    Giới tính (<span class="ColorDo">*</span>)
                  </label>
                  <div class="col-sm-7 RadioTop">
                    <span id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_radSex" style="font-size:12px;"><input id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_radSex_0" type="radio" name="ctl00$ctl00$ctl00$ContentPlaceHolder1$contentMain$contentMain$radSex" value="0" checked="checked" tabindex="110" /><label for="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_radSex_0">Nam</label><input id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_radSex_1" type="radio" name="ctl00$ctl00$ctl00$ContentPlaceHolder1$contentMain$contentMain$radSex" value="1" tabindex="110" /><label for="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_radSex_1">Nữ</label></span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3 col-sm-offset-1">
                    Số CMND (<span class="ColorDo">*</span>)
                  </label>
                  <div class="col-sm-7">
                    <span id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_lblIdentity" class="form-control">1921***43</span>
                  </div>
                </div>
                <div id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_imgcmnd" class="form-group">
                  <label class="control-label col-sm-3 col-sm-offset-1">
                    Ảnh
                  </label>
                  <div class="col-sm-7">
                    <input type="file" name="ctl00$ctl00$ctl00$ContentPlaceHolder1$contentMain$contentMain$fcmndtruoc" id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_fcmndtruoc" class="cmnd-input" style="display: none;" />
                    <input type="file" name="ctl00$ctl00$ctl00$ContentPlaceHolder1$contentMain$contentMain$fcmndsau" id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_fcmndsau" class="cmnd-input" style="display: none;" />
                    <img src="/Skin/images/cmnd-truoc.png" id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_imgcmndtruoc" class="cmnd-img pointer" alt="dainnl" /> &nbsp;
                    <img src="/Skin/images/cmnd-sau.png" id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_imgcmndsau" class="cmnd-img pointer" alt="dainnl" /> &nbsp;&nbsp;&nbsp;
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3 col-sm-offset-1">
                    Tình trạng chứng thực
                  </label>
                  <div class="col-sm-7" style="color:#3c763d; font-weight: bold;">
                    <span id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_lbctcmnd">Chưa chứng thực</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3 col-sm-offset-1">
                    Số điện thoại nhà (<span class="ColorDo">*</span>)
                  </label>
                  <div class="col-sm-7">
                    <input name="ctl00$ctl00$ctl00$ContentPlaceHolder1$contentMain$contentMain$txtHomePhone" type="text" value="0965288463" id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_txtHomePhone" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3 col-sm-offset-1">
                    Số nhà (<span class="ColorDo">*</span>)
                  </label>
                  <div class="col-sm-7">
                    <input name="ctl00$ctl00$ctl00$ContentPlaceHolder1$contentMain$contentMain$txtAddress" type="text" value="Thôn 4, Ði?n Hòa, Phong ÐI?n, Th?a Thiên Hu?" id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_txtAddress" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3 col-sm-offset-1">
                    Đường (<span class="ColorDo">*</span>)
                  </label>
                  <div class="col-sm-7">
                    <input name="ctl00$ctl00$ctl00$ContentPlaceHolder1$contentMain$contentMain$txtStreet" type="text" value="street" id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_txtStreet" class="form-control" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3 col-sm-offset-1">
                    Phường / Xã / Thị trấn (<span class="ColorDo">*</span>)
                  </label>
                  <div class="col-sm-7">
                    <input name="ctl00$ctl00$ctl00$ContentPlaceHolder1$contentMain$contentMain$txtWard" type="text" value="Ward" id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_txtWard" class="form-control" />
                  </div>
                </div>
                <div class="form-group Mb30">
                  <label class="control-label col-sm-3 col-sm-offset-1"></label>
                  <div class="col-sm-7">
                    <div class="row">
                      <div class="selectpicker col-sm-6">
                        <span class="arrow-up"></span>
                        <select name="ctl00$ctl00$ctl00$ContentPlaceHolder1$contentMain$contentMain$cboCity" id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_cboCity" tabindex="107">
                          <option value="-1">Chọn tỉnh / th&#224;nh</option>
                          <option value="766">An Giang</option>
                          <option value="1">B&#224; Rịa - Vũng T&#224;u</option>
                          <option value="2">Bắc Giang</option>
                          <option value="3">Bắc Kạn</option>
                          <option value="4">Bạc Li&#234;u</option>
                          <option value="5">Bắc Ninh</option>
                          <option value="6">Bến Tre</option>
                          <option value="7">B&#236;nh Định</option>
                          <option value="8">B&#236;nh Dương</option>
                          <option value="9">B&#236;nh Phước</option>
                          <option value="10">B&#236;nh Thuận</option>
                          <option value="11">C&#224; Mau</option>
                          <option value="12">Cần Thơ</option>
                          <option value="13">Cao Bằng</option>
                          <option value="14">Đ&#224; Nẵng</option>
                          <option value="15">Đắk Lắk</option>
                          <option value="643">Đắk N&#244;ng</option>
                          <option value="179">Điện Bi&#234;n</option>
                          <option value="16">Đồng Nai</option>
                          <option value="17">Đồng Th&#225;p</option>
                          <option value="18">Gia Lai</option>
                          <option value="19">H&#224; Giang</option>
                          <option value="20">H&#224; Nam</option>
                          <option value="21">H&#224; Nội</option>
                          <option value="23">H&#224; Tĩnh</option>
                          <option value="24">Hải Dương</option>
                          <option value="25">Hải Ph&#242;ng</option>
                          <option value="245">Hậu Giang</option>
                          <option value="26">H&#242;a B&#236;nh</option>
                          <option value="27">Hưng Y&#234;n</option>
                          <option value="28">Kh&#225;nh H&#242;a</option>
                          <option value="29">Ki&#234;n Giang</option>
                          <option value="30">Kon Tum</option>
                          <option value="31">Lai Ch&#226;u</option>
                          <option value="32">L&#226;m Đồng</option>
                          <option value="33">Lạng Sơn</option>
                          <option value="34">L&#224;o Cai</option>
                          <option value="35">Long An</option>
                          <option value="36">Nam Định</option>
                          <option value="37">Nghệ An</option>
                          <option value="38">Ninh B&#236;nh</option>
                          <option value="39">Ninh Thuận</option>
                          <option value="40">Ph&#250; Thọ</option>
                          <option value="41">Ph&#250; Y&#234;n</option>
                          <option value="42">Quảng B&#236;nh</option>
                          <option value="43">Quảng Nam</option>
                          <option value="44">Quảng Ng&#227;i</option>
                          <option value="45">Quảng Ninh</option>
                          <option value="46">Quảng Trị</option>
                          <option value="47">S&#243;c Trăng</option>
                          <option value="48">Sơn La</option>
                          <option value="49">T&#226;y Ninh</option>
                          <option value="50">Th&#225;i B&#236;nh</option>
                          <option value="51">Th&#225;i Nguy&#234;n</option>
                          <option value="52">Thanh H&#243;a</option>
                          <option selected="selected" value="53">Thừa Thi&#234;n - Huế</option>
                          <option value="54">Tiền Giang</option>
                          <option value="55">Tp.Hồ Ch&#237; Minh</option>
                          <option value="56">Tr&#224; Vinh</option>
                          <option value="57">Tuy&#234;n Quang</option>
                          <option value="58">Vĩnh Long</option>
                          <option value="59">Vĩnh Ph&#250;c</option>
                          <option value="60">Y&#234;n B&#225;i</option>
                        </select>
                      </div>
                      <div class="selectpicker col-sm-6">
                        <div class="MlSub15">
                          <span class="arrow-up"></span>
                          <select name="ctl00$ctl00$ctl00$ContentPlaceHolder1$contentMain$contentMain$cboDistrict" id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_cboDistrict">
                            <option value="-1">Chọn quận / huyện</option>
                          </select>
                          <input type="hidden" name="ctl00$ctl00$ctl00$ContentPlaceHolder1$contentMain$contentMain$hdfDistrict" id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_hdfDistrict" value="203" />
                          <input type="hidden" name="ctl00$ctl00$ctl00$ContentPlaceHolder1$contentMain$contentMain$hdfDistrictName" id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_hdfDistrictName" value="Phong Điền" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-7 col-sm-offset-4">
                    <input type="submit" name="ctl00$ctl00$ctl00$ContentPlaceHolder1$contentMain$contentMain$btnSave" value="Cập Nhật" id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_contentMain_btnSave" class="RegNow" />
                  </div>
                </div>
              </div>
            </div>
            <script src="/home/account/account.js" type="text/javascript"></script>
            <label id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_lblScriptsLogin"></label>
            <label id="ctl00_ctl00_ctl00_ContentPlaceHolder1_contentMain_VendorLink_lblScripts">
            </label>
          </div>
          <!-- endn BlockContent -->
     
   
  <!-- END OF FIXED SUPPORT -->
  <script src="Skin/js/bootstrap.min.js"></script>
  <script src="Skin/js/bootstrap-datepicker.min.js"></script>
  <script src="Skin/master_page/masterpage.master.js"></script>
  <script src="Skin/master_page/menuindex.js"></script>
  <script src="json/home.js"></script>
  <script src="Skin/js/bootstrap-dialog.min.js"></script>
  <script src="Skin/js/function.js"></script>
  <script src="Skin/js/util.js"></script>
  <script src="Skin/js/jquery.nicescroll.min.js"></script>
  <script src="Skin/js/menuleft.js?id=1"></script>
  
</body>

</html>
