<div class="innerFloat navbar-fixed-top">
  <div class="container">
      <div class="row">
          <div class="navbar-header CustomBtnCollapse col-md-2">
              <div id='toggle-menu-main' data-toggle="collapse" data-target="#topNav" aria-expanded="false">
                  <div></div>
              </div>
              <ul class="navbar-nav nav-login-d">
                  <li>
                      <a href="#" class="BtnLogin" style="padding:10px; color:#fff" data-toggle="modal" data-target="#frmLogin">
                          <span>
                              <i>
                                  <img src="../../../assets/client/images/icon-login.png" height="17" width="18" alt="">
                              </i>
                              Đăng Nhập
                          </span>
                      </a>
                  </li>
              </ul>
              <!-- /.login-success -->
              <a class="navbar-brand" href="../index.html">
                  <img src="../../../assets/client/images/logo.png" alt="" height="37" width="101">
              </a>
              <a href="../index.html">
                  
              </a>
          </div>
          <!-- end navbar-header -->
          <!--                        <div class="collapse navbar-collapse col-md-10" id="topNav" style="background: transparent url('images/funny.png') no-repeat scroll 80% top / auto 100%;">-->
          <div class="collapse navbar-collapse col-md-10" id="topNav">
              <ul class="nav navbar-nav">
                  <li class="visible-xs">
                      <div class="col-half">
                          <a style="background-color:#c00;" class="BtnLogin" href="#" data-toggle="modal" data-target="#frmLogin">
                              <img src="../../../assets/client/images/login-icon.png" alt=""/>Đăng nhập</a>
                      </div>
                      <div class="col-half">
                          <a style="background:#f5f5f5; color:#4c4c4c;" class="register-header-bt" href="../dang-ky/index.html">
                              <img src="../../../assets/client/images/add-icon.png" alt=""/>Đăng ký</a>
                      </div>
                  </li>
                  <li id="pageInfo">
                      <a href="index.html">Trang chủ</a>
                  </li>
                  <li id="pageAbout">
                      <a href="../gioi-thieu/index.html">Giới thiệu</a>
                  </li>
                  <li id="pagePolicy">
                      <a href="../chinh-sach/index.html">Chính sách</a>
                  </li>
                  <li id="pageLocation">
                      <a href="../dia-diem-giao-dich/index.html">Điểm Giao Dịch</a>
                  </li>
                  <li id="pageGuid">
                      <a href="../huong-dan/huong-dan-nap-tien-mat-unc/index.html">Hướng dẫn</a>
                  </li>
                  <li class="hidden-xs hidden-sm" style="float: right;">
                      <a href="#" class="BtnLogin" data-toggle="modal" data-target="#frmLogin">
                          <span>
                              <i>
                                  <img src="../../../assets/client/images/icon-login.png" height="17" width="18" alt="">
                              </i>
                              Đăng Nhập
                          </span>
                      </a>
                  </li>
              </ul>
          </div>
          <!-- end #topNav -->
          <!-- end #topNav -->
      </div>
  </div>
</div>