<app-header></app-header>
<div class="col-md-6 offset-md-3 formLogin" id="containerContent">
  <div class="text-center">
    <h1 class="login-title text-danger w-100 font-weight-bold">Đăng nhập</h1>
  </div>
  <form #formSigninClient="ngForm" (ngSubmit)="onLoggedin(formSigninClient.value)">
    <div class=" mx-3">
      <div class="md-form mb-5">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" #usernameClient="ngModel" ngModel name="usernameClient" id="defaultForm-email" placeholder="Nhập Username"
          class="form-control validate">
        <!-- <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label> -->
      </div>
      <!-- <label for="email">Password:</label>       -->
      <div class=" md-form mb-4">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" #passwordClient="ngModel" ngModel name="passwordClient" id="defaultForm-pass" class="form-control validate"
          placeholder="Nhập mật khẩu">
        <!-- <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label> -->
      </div>
      

    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-danger">Đăng nhập</button>
    </div>
  </form>
</div>
<app-footer></app-footer>