<app-header></app-header>
<div class="container" id="containerContent">
  <section class="HomeContent innerFloat">
    <div class="MainContent row">
      <div class="SideBarLeft col-md-3">
        <div id="cssmenu">
          <ul class="bgColor">
            <li class="has-sub doanhThuBg">
              <a href="#">
                <i class="sprite2 share ib"></i>
                <span>Cơ Hội Làm Giàu</span>
              </a>
              <ul>
                <li>
                  <a href="../../phan-phoi-game/index.html">Chia sẻ doanh thu</a>
                </li>
              </ul>
            </li>
            <li class="has-sub theGameBg">
              <a href="#">
                <i class="sprite2 g ib"></i>
                <span>Mua mã thẻ game</span>
              </a>
              <ul>
                <li>
                  <a href="../../the-game-online/the-gate/index.html">
                    <img src="../../../assets/client/images/icon-gate.png"> &nbsp;Thẻ Gate</a>
                </li>
                <li>
                  <a href="../../the-game-online/the-zing-xu/index.html">
                    <img src="../../../assets/client/images/icon-zing.png"> &nbsp;Thẻ Zing</a>
                </li>
                <li>
                  <a href="../../the-game-online/the-vcoin/index.html">
                    <img src="../../../assets/client/images/icon-vcoin.png"> &nbsp;Thẻ Vcoin</a>
                </li>
                <li>
                  <a href="../../the-game-online/the-ongame/index.html">
                    <img src="../../../assets/client/images/icon-oncash.png"> &nbsp;Thẻ OnGame</a>
                </li>
                <li>
                  <a href="../../the-game-online/the-garena/index.html">
                    <img src="../../../assets/client/images/icon-garena.png"> &nbsp;Thẻ Garena</a>
                </li>
              </ul>
            </li>
            <li class="has-sub theDienThoaiBg">
              <a href="#">
                <i class="sprite2 card ib"></i>
                <span>Mua mã thẻ điện thoại</span>
              </a>
              <ul>
                <li>
                  <a href="../../the-dien-thoai/the-viettel/index.html">
                    <img src="../../../assets/client/images/Logo_Mobile/viettel.png"> &nbsp;Thẻ Viettel</a>
                </li>
                <li>
                  <a href="../../the-dien-thoai/the-mobi/index.html">
                    <img src="../../../assets/client/images/Logo_Mobile/mobifone.png"> &nbsp;Thẻ Mobifone</a>
                </li>
                <li>
                  <a href="../../the-dien-thoai/the-vina/index.html">
                    <img src="../../../assets/client/images/Logo_Mobile/vinaphone.png"> &nbsp;Thẻ Vinaphone</a>
                </li>
                <li>
                  <a href="../../the-dien-thoai/the-vietnammobile/index.html">
                    <img src="../../../assets/client/images/Logo_Mobile/vietnam.png"> &nbsp;Thẻ Vietnamobile</a>
                </li>
                <li>
                  <a href="../../the-dien-thoai/the-gmobile/index.html">
                    <img src="../../../assets/client/images/Logo_Mobile/gmobile.png"> &nbsp;Thẻ Gmoblie</a>
                </li>
              </ul>
            </li>
            <li class="buy-card-types">
              <a href="../../the-dien-thoai/mua-nhieu-loai-the-cao/index.html">
                <i class="card-icon"></i>
                <span style="border-color: rgba(255, 255, 255, 0.34902);">Mua nhiều loại thẻ</span>
              </a>
            </li>
            <li class="has-sub tienDienThoaiBg">
              <a href="#">
                <i class="sprite2 phone ib"></i>
                <span>Nạp tiền điện thoại</span>
              </a>
              <ul>
                <li>
                  <a href="../../nap-dien-thoai-tra-truoc/index.html">
                    <img src="../../../assets/client/images/icon-other.png"> &nbsp;Trả trước</a>
                </li>
                <li>
                  <a href="../../nap-dien-thoai/tra-truoc-nhieu-so/index.html">
                    <img src="../../../assets/client/images/icon-other.png"> &nbsp;Trả trước nhiều số</a>
                </li>
              </ul>
            </li>
            <li class="has-sub tienGameBg">
              <a href="#">
                <i class="sprite2 game ib"></i>
                <span>Nạp tiền game</span>
              </a>
              <ul>
                <li>
                  <a href="../../nap-game-online/nap-gate/index.html">
                    <img src="../../../assets/client/images/Logo_Mobile/icon-gate.jpg"> &nbsp;Bạc Gate</a>
                </li>
                <li>
                  <a href="../../nap-game-online/nap-zingxu/index.html">
                    <img src="../../../assets/client/images/Logo_Mobile/icon-zing.jpg"> &nbsp;Zingxu</a>
                </li>
                <li>
                  <a href="../../nap-game-online/nap-ongate/index.html">
                    <img src="../../../assets/client/images/Logo_Mobile/icon-ongate.jpg"> &nbsp;OnGate</a>
                </li>
                <li>
                  <a href="../../nap-game-online/nap-ongame/index.html">
                    <img src="../../../assets/client/images/Logo_Mobile/icon-ongame.jpg"> &nbsp;OnGame</a>
                </li>
              </ul>
            </li>

            <li class="has-sub pay-bill">
              <a href="javascript:;">
                <i class="pay-icon"></i>
                <span style="border-color: rgba(255, 255, 255, 0.34902);">thanh toán hóa đơn</span>
              </a>
              <ul>
                <li>
                  <a href="../cuoc-di-dong-tra-sau/index.html">
                    <img src="#"> &nbsp;Cước di động trả sau</a>
                </li>
              </ul>
            </li>
            <li class="has-sub thanhToanBg">
              <a href="javascript:;">
                <i class="sprite2 screen ib"></i>
                <span>Dịch vụ thanh toán</span>
              </a>
              <ul>
                <li>
                  <a href="index.html">
                    <img src="#"> &nbsp;Hướng dẫn kết nối gạch thẻ</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- end cssmenu -->

        <div class="support-left">
          <p>Chăm sóc khách hàng</p>
          <p class="mobile" style="font-size:18px;text-transform: lowercase;">19006611 - Ext 4</p>
        </div>
      </div>
      <!-- end SideBarLeft -->
      <div class="blockContent col-md-9">
        <h3>
          <span> Giao dịch khách hàng</span>
        </h3>
        <div class="clearfix"></div>
        <div class="clearfix">
        </div>
        <div id="guid-tab">
          <!-- Nav tabs -->
          <!-- <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#guid-01" aria-controls="home" role="tab" data-toggle="tab">Mua thẻ cào điện thoại</a>
            </li>
          </ul> -->
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="guid-01">
              <div id="wygiwys-editor" style="padding-top: 20px;">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- endn BlockContent -->
    </div>
  </section>
</div>
<!-- end container -->


<app-footer></app-footer>