::-webkit-input-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #fff !important;
}
:-moz-placeholder /* older Firefox*/
{
	font-size: 16px !important;
	font-weight: 500;
	color: #fff !important;
}
::-moz-placeholder /* Firefox 19+ */
{
	font-size: 16px !important;
	font-weight: 500;
	color: #fff !important;
}
:-ms-input-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #fff !important;
}
::input-placeholder
{
	font-size: 16px !important;
	font-weight: 500;
	color: #fff !important;
}
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}